@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
/* shared styles */
*{
    margin: 0;
    padding: 0;
}
.section-title{
   font-size: 40px;
   font-weight: bold;
}
.section-description, .subsection-description{
   color: rgba(14, 14, 14, 0.7);
   line-height: 24px;
}
.section-description{
    margin-top: 24px;
}
.subsection-title{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    margin: 24px 0px 12px;
}
body{
    background-color: #F5F5F5;
}
/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 31px 160px;
    background-color: #F5F5F5;
}
nav button{
    padding: 15px 30px;
    font-weight: 400px;
    border-style: solid;
    border-color: #006A50;
    color: #006A50;
    background-color: #F5F5F5;
    border-radius: 8px;
    font-size: 18px;
}
nav h3{
    font-size: 32px;
}

/* banner-styles */
.banner-content{
    display: flex;
    align-items: center;
    padding: 117px 59.99px;
    margin: 0px 160px 80px;
    gap: 64px;
    background-color: #C6E4D6;
    border-radius: 24px;
}
.banner-btn{
    padding: 17px 34px;
    background-color: #006A50;
    color: #FFFFFF;
    border-radius: 8px;
    font-size: 18px;
    border: none;
}
.banner-subtitle{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 300px;
}
.banner-title{
    color: #0E0E0E;
    font-size: 56px;
    font-weight:bold;
    margin: 16px 0px 24px;
}

/*pillar section style*/
.pillar{
    margin: 0px 160px 80px;
}
.pillars-items{
    display: flex;
    gap: 24px;
    justify-content: center;
}
.pillar-item{
    max-width: 302px;
    padding: 24px;
    background-color: #FFFFFF;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    margin-top: 32px;
}

/*vision section style*/
.vision{
    margin: 0px 160px 80px;
}
.vision-items{
    display: flex;
    gap: 24px;
    justify-content: center;
}
.vision-item{
    width: 410.67px;
    padding: 32px;
    border-radius: 16px;
    margin-top: 32px;
}
.vision-btn{
    padding: 11px 20px;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    margin-top: 24px;
}
.vision-btn-bg1{
    background-color: #5490F5;
}
.vision-btn-bg2{
    background-color: #09A15C;
}
.vision-btn-bg3{
    background-color: #FFC239;
}
.vision-item-bg1{
    background-color: rgba(84, 144, 245, 0.2);
}
.vision-item-bg2{
    background-color: #C6E4D6;
}
.vision-item-bg3{
    background-color: #F7EBCF;
}

.speech{
    padding: 48px 24px;
    background-color: #FFFFFF;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    margin-top: 32px;
    background-image: url("assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: 25px 23px;
}
.speech-title{
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
    line-height: 24px;
}
.speech-subtitle{
    color: rgba(14, 14, 14, 0.6);
   
    margin-top: 4px;
}
.speaker{
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
    font-weight: bold;
}


/*recent-styles*/
.recent-news{
    margin: 0px 160px 80px;
}
.recent-news-items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 48px;
    background-color: #FFFFFF;
    border-radius: 24px;
    margin-top: 32px;
}
.recent-news-items-reverse{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 48px;
    background-color: #FFFFFF;
    border-radius: 24px;
    margin-top: 24px;
}
.recent-img{
    border-radius: 24px;
}
.recent-title{
    font-size: 32px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}
.time-date, .recent-description{
    display: flex;
    gap: 12px;
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
    margin-bottom: 12px;
}
.recent-logo{
    margin: 12px 0px;
}
.recent-btn{
    padding: 13px 26px;
    background-color: #006A50;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    margin-top: 20px;
}
